<!DOCTYPE html>

<head>
    <title>My Website</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="center">
        <% if (boom) { %>
            <p>BOOM!</p>
        <% } else { %>
            <p>Not BOOM T^T</p>
        <% } %>
    </div>
</body>

</html>